body {
  background-color: #222b2d;
  margin: 0px;
}

h1 {
  margin: 64px;
  color: #e6433e;
  font-size: 60px;
  font-family: brother-1816, sans-serif;
  font-weight: 800;
}

#main_display {
  display: flex;
  width: 100%;
  margin: 32px;
  flex-wrap: wrap;
}

#head_bar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: #222b2d;
}

#separator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sep0 {
  width: 16.7%;
  height: 20px;
  background-color: #90cf39;
}
#sep1 {
  width: 16.7%;
  height: 20px;
  background-color: #f5a313;
}
#sep2 {
  width: 16.7%;
  height: 20px;
  background-color: #0000ff;
}
#sep3 {
  width: 16.7%;
  height: 20px;
  background-color: #222b2d;
}
#sep4 {
  width: 16.7%;
  height: 20px;
  background-color: #5bc5ce;
}
#sep5 {
  width: 16.7%;
  height: 20px;
  background-color: #e6433e;
}

.post {
  width: 300px;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5bc5ce;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: 2px 2px #0000ff;
}

.subreddit {
  display: flex;
  font-family: brother-1816, sans-serif;
  color: #fff;
  margin-top: 8px;
}

.post_title {
  font-family: brother-1816, sans-serif;
  color: #fff;
  display: flex;
  margin: 8px;
  font-size: 22px;
}

.r {
  font-family: brother-1816, sans-serif;
  color: #e6433e;
}

.ratio {
  height: 8px;
  margin-top: 12px;
  background-color: #0000ff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.thumbnail {
  height: 256px;
}
